<div>
    <h2>Congratulations! Your new quote is.....</h2>
</div>

<div class="main-form">
    <div>
        $ @ViewBag.Quote <br />
        Sign up today to secure your new price!
    </div>

    <div class="signUpBtn">
        <button class="btn-primary">Sign Up</button>
    </div>
</div>

/* Admin View */
<div>
    <h2>Congratulations! Your new quote is.....</h2>
</div>

<div class="main-form viewQuoteContent">
    <div>
        $ @ViewBag.Quote <br />
        Sign up today to secure your new price!
    </div>

    <div class="signUpBtn">
        <button class="btn-primary">Sign Up</button>
    </div>
</div>

/* Customer */
<div>
    <h2>Congratulations! Your new quote is.....</h2>
</div>

<div class="main-form viewQuoteContent">
    <div>
        $ @ViewBag.Quote <br />
        Sign up today to secure your new price!
    </div>

    <div class="signUpBtn">
        <button class="btn-primary">Sign Up</button>
    </div>
</div>

/* Site CSS */
<div>
    <h2>Congratulations! Your new quote is.....</h2>
</div>

<div class="main-form viewQuoteContent">
    <div>
        $ @ViewBag.Quote <br />
        Sign up today to secure your new price!
    </div>

    <div class="signUpBtn">
        <button class="btn-primary">Sign Up</button>
    </div>
</div>